body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:423px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:375px;
  height:423px;
  display:flex;
}
#u544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:507px;
  background:inherit;
  background-color:rgba(44, 48, 57, 1);
  border:none;
  border-radius:16px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:375px;
  height:507px;
  display:flex;
}
#u545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(44, 48, 57, 1);
  border:none;
  border-radius:14px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:125px;
  width:100px;
  height:35px;
  display:flex;
}
#u546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:372px;
  width:265px;
  height:64px;
  display:flex;
}
#u547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:33px;
  background:inherit;
  background-color:rgba(23, 230, 142, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正准黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:304px;
  width:83px;
  height:33px;
  display:flex;
  font-family:'方正正准黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:372px;
  width:64px;
  height:64px;
  display:flex;
}
#u549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正准黑简体 Bold', '方正正准黑简体 Regular', '方正正准黑简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:176px;
  width:105px;
  height:30px;
  display:flex;
  font-family:'方正正准黑简体 Bold', '方正正准黑简体 Regular', '方正正准黑简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u550 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:133px;
  width:20px;
  height:18px;
  display:flex;
}
#u551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正准黑简体 Regular', '方正正准黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#9F5EB8;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:24px;
  width:85px;
  height:20px;
  display:flex;
  font-family:'方正正准黑简体 Regular', '方正正准黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#9F5EB8;
}
#u552 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:24px;
  width:20px;
  height:20px;
  display:flex;
  color:#000000;
}
#u553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:24px;
  width:10px;
  height:20px;
  display:flex;
}
#u554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:452px;
  width:265px;
  height:64px;
  display:flex;
}
#u555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:452px;
  width:64px;
  height:64px;
  display:flex;
}
#u556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:532px;
  width:265px;
  height:64px;
  display:flex;
}
#u557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:532px;
  width:64px;
  height:64px;
  display:flex;
}
#u558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:14px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:612px;
  width:265px;
  height:55px;
  display:flex;
}
#u559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:612px;
  width:64px;
  height:55px;
  display:flex;
}
#u560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:372px;
  width:64px;
  height:64px;
  display:flex;
}
#u561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:452px;
  width:64px;
  height:64px;
  display:flex;
}
#u562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:532px;
  width:64px;
  height:64px;
  display:flex;
}
#u563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:55px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:612px;
  width:64px;
  height:55px;
  display:flex;
}
#u564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:210px;
  width:330px;
  height:75px;
  display:flex;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u565 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正准黑简体 Bold', '方正正准黑简体 Regular', '方正正准黑简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:384px;
  width:35px;
  height:20px;
  display:flex;
  font-family:'方正正准黑简体 Bold', '方正正准黑简体 Regular', '方正正准黑简体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u566 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u566_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:13px;
  background:inherit;
  background-color:rgba(23, 230, 142, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:389px;
  width:47px;
  height:13px;
  display:flex;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:407px;
  width:237px;
  height:13px;
  display:flex;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u568 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u568_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正准黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:464px;
  width:34px;
  height:20px;
  display:flex;
  font-family:'方正正准黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u569 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u569_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:488px;
  width:237px;
  height:13px;
  display:flex;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u570 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u570_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正准黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:544px;
  width:51px;
  height:20px;
  display:flex;
  font-family:'方正正准黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u571 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u571_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:568px;
  width:237px;
  height:13px;
  display:flex;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u572 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u572_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正准黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:624px;
  width:34px;
  height:20px;
  display:flex;
  font-family:'方正正准黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u573_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:648px;
  width:237px;
  height:13px;
  display:flex;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u574 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u574_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
  background:inherit;
  background-color:rgba(23, 230, 142, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:389px;
  width:40px;
  height:13px;
  display:flex;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
  background:inherit;
  background-color:rgba(23, 230, 142, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:389px;
  width:34px;
  height:13px;
  display:flex;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:468px;
  width:27px;
  height:13px;
  display:flex;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:468px;
  width:41px;
  height:13px;
  display:flex;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:33px;
  background:inherit;
  background-color:rgba(23, 230, 142, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正准黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:304px;
  width:83px;
  height:33px;
  display:flex;
  font-family:'方正正准黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
  background:inherit;
  background-color:rgba(23, 230, 142, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正正准黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:304px;
  width:42px;
  height:33px;
  display:flex;
  font-family:'方正正准黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:13px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:548px;
  width:39px;
  height:13px;
  display:flex;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:548px;
  width:33px;
  height:13px;
  display:flex;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:13px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:629px;
  width:39px;
  height:13px;
  display:flex;
  font-family:'方正正纤黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:64px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:452px;
  width:265px;
  height:64px;
  display:flex;
}
#u584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:64px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:372px;
  width:265px;
  height:64px;
  display:flex;
}
#u585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:64px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:532px;
  width:265px;
  height:64px;
  display:flex;
}
#u586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:55px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:612px;
  width:265px;
  height:55px;
  display:flex;
}
#u587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
